

{{> general/title}}

<div class="form-wrapper">

    <form id="add_album" action="/album/add" method="post">

        <div class="error-msg"></div>

        <!-- ID field -->
        <input type="hidden" id="id" name="id" value="{{saved_album.id}}">

        <!-- name field -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name ="name" placeholder="Name..." value="{{saved_album.name}}">
        </div>

        <!-- start , end date fields -->
        {{current_date}}
        <div class="dates-wrapper">
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="start_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="end_date">End Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="end_date" />
                </div>
            </div>
        </div>

<!--         <button type="button" class="btn btn-info update-dates" data-function="PhotobumAdmin.updateDates">
            <i class="fa fa-refresh"></i>
        </button> -->

        <!-- label -->
<!--         <div class="form-group">
            <label for="album_images">Photos</label>
            <div class="row"><small class="col-xs-12 form-text text-muted">
                Max files: get_ini('max_file_uploads'&nbsp;|
                Max upload size: get_ini('upload_max_filesize')&nbsp;|
                Max post size: get_ini('post_max_size')&nbsp;|
                Max exec time: get_ini('max_execution_time')&nbsp;|
                Memory limit: get_ini('memory_limit')
            </small></div>
        </div> -->

        <!-- files in db -->
        <div class="list-group files" id="previews">

            {{# each media}}
                <div class="list-group-item image-preview list-group-item-info">
                    
                    <span class="preview" style="background-image:url({{img s3_key 'hd'}})">
                    </span>
                    
                    <div class="file-date-taken">{{m.date_taken}}</div>
                    <div class="file-size">{{fileSize filesize}}</div>

                    <div class="">
                        <small class="album-list-name">{{m.name}}</small><br>
                        <small class="make-model">{{m.camera}}</small>
                        <p class="size">{{m.size}}</p>
                    </div>

                    <div class="status-s3">
                        <i class="al-icons s3"></i>
                    </div>
                    <div class="status-exif">
                        <i class="al-icons exif"></i>
                    </div>
                    <div class="status-thumb">
                        <i class="al-icons thumb"></i>
                    </div>
                    <div class="status-rekognition">
                        <i class="al-icons rekognition"></i>
                    </div>

                    <span class="btn btn-danger btn-xs remove-file tip-default" title="Move to trash" data-mediaid={{id}} data-function="Album.moveToTrash">
                        <i class="fa fa-remove"></i>
                    </span>

                </div>
            {{/each}}

            <!-- dropzone preview -->
            {{> general/dropzone_album}}

        </div>

        <!-- dropzone input -->
        <div class="form-group">
            <span class="btn btn-success fileinput-button dz-clickable">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
        </div>

<!-- 
        {# location field #}
        <div class="form-group">
            <label for="location_name">Location</label>
            <input type="text" class="form-control" id="location_name" name="location_name" placeholder="Location name...">
        </div>
        
        {# map #}
        <div class="panel panel-default panel-map">
            <div class="">
                <div id="album_map"></div>
            </div>
        </div>
        <div id="album_markers"></div> -->
     
        <!-- body field -->
        <div class="form-group">
            <label for="album_body">Body</label>
            <div class="form-control" data-tinymce id="album_body">{{{saved_album.body}}}</div>
        </div>
<!--    
        {# persons selection #}
        <div class="form-group">
            <label for="assign_person">Assign Persons</label>
            <select class="form-control select2-multiple" multiple="multiple" id="album_persons">
                {% for p in persons %}
                <option value="{{p.id}}" class="album_person" name="persons[]">
                    {{p.person_name}}
                </option>
                {% endfor %}
            </select>
        </div> -->
    
<!-- <div class="form-group pull-left">
    <input type="checkbox" id="album_private" name="album_private" data-checkbox="privateToggle">
</div> -->

        <input type="submit" class="btn btn-success" value="Save">
    
    </form>

    <script>
      Album.editAlbumDP("{{date saved_album.start_date 'YYYY-MM-DD HH:mm:ss'}}", "{{date saved_album.end_date 'YYYY-MM-DD HH:mm:ss'}}");
      Album.addAlbum();
      Album.initDropzone();
    </script>
